.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}


.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--cases{
  border-top: 10px solid #1967d2;
}
.infoBox--recovered{
  border-top: 10px solid #28a745;
}
.infoBox--deaths{
  border-top: 10px solid #FF214F;
}

.infoBox__cases{
  color: #1967d2;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__recovered{
  color : #28a745;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__deaths{
  color: #FF214F ;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}